.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
header{
    background: #d52220 !important;
    background: linear-gradient(-180deg,#f53d2d,#f63);
}
.chatbox{
    display: none;
}
button{
    background: #d52220 !important;
}
