.slider {
  position: relative;
  overflow: hidden;
  border-radius: 4px;

  ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      background: #ccc;
      text-align: center;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  a.control_prev {
    position: absolute;
    top: 40%;
    z-index: 2;
    display: block;
    padding: 25px 10px;
    width: auto;
    height: auto;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.3;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .32);
    border-radius: 0 2px 2px 0;

    &:hover {
      opacity: 1;
      -webkit-transition: all 0.2s ease;
    }
  }

  a.control_next {
    position: absolute;
    top: 40%;
    z-index: 2;
    display: block;
    padding: 25px 10px;
    width: auto;
    height: auto;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.3;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .32);
    right: 0;
    border-radius: 2px 0 0 2px;

    &:hover {
      opacity: 1;
      -webkit-transition: all 0.2s ease;
    }
  }
}


.home-category-list__group {
  text-decoration: none;
  color: rgba(0, 0, 0, .87);
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.home-category-list__category-grid {
  text-decoration: none;
  color: rgba(0, 0, 0, .87);
  border-right: 1px solid rgba(0, 0, 0, .05);
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  text-align: center;
  background-color: #fff;
  display: block;
  position: relative;
  transition: transform .1s cubic-bezier(.4, 0, .6, 1), box-shadow .1s cubic-bezier(.4, 0, .6, 1);

  &:hover {
    transform: translateZ(0);
    z-index: 1;
    border-color: rgba(0, 0, 0, .12);
    box-shadow: 0 0 .8125rem 0 rgba(0, 0, 0, .05);
  }

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.home-page {
  .shopee-header-section__header {
    background: #fff;
    height: 3.75rem;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    padding: 0 1.25rem;
  }
}

.countdown{
  span{
    background: black;
    color: white;
    font-weight: bold;
    padding: 0 2px;
  }
}

