.slider {
  position: relative;
  overflow: hidden;
  border-radius: 4px;

  ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      background: #ccc;
      text-align: center;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }



  a.control_prev {
    position: absolute;
    top: 40%;
    z-index: 2;
    display: block;
    padding: 25px 10px;
    width: auto;
    height: auto;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.3;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .32);
    border-radius: 0 2px 2px 0;

    &:hover {
      opacity: 1;
      -webkit-transition: all 0.2s ease;
    }
  }

  a.control_next {
    position: absolute;
    top: 40%;
    z-index: 2;
    display: block;
    padding: 25px 10px;
    width: auto;
    height: auto;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.3;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .32);
    right: 0;
    border-radius: 2px 0 0 2px;

    &:hover {
      opacity: 1;
      -webkit-transition: all 0.2s ease;
    }
  }
}

.countdown{
  span{
    background: black;
    color: white;
    font-weight: bold;
    padding: 0 2px;
  }
}