.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.body{
    margin-top: 135px;
}


/*.btn-solid-primary {*/
/*    background: #d52220 !important;*/
/*}*/

.logo {
    max-height: 50px;
}
ul{
    margin: 0;
    list-style: none;
}


.content-area {
    width: auto !important;
    float: none !important;
    margin-right: 0 !important;

}
.relative{
    position: relative;
}
.white{
    background: white;
}
.p-b-30{
    padding-bottom: 30px;
}

.reset_variations {
    display: none !important;
}

.woocommerce-breadcrumb {
    font-size: 14px;
    margin-bottom: 20px;
}

.woocommerce-breadcrumb a {
    color: #05a;
    font-size: 14px;
    text-decoration: none;
}

section {
    margin: 15px auto;
}

.full {
    width: 100%;
}

.fullwidth__row {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    width: 1200px;
    margin: 10px auto 0;
    min-height: 108px;
}

.fullwidth__item {
    margin: 0 10px;
}

.fullwidth__row p {
    padding: 10px 0;
}

#primary .type-post {
    max-width: 800px;
    margin: 0px auto;
}
#primary .type-post img{
    max-width: 80%;
    margin: 0px auto;
}
/*style banner*/

.slider {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    background: #ccc;
    text-align: center;
}

a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 25px 10px;
    width: auto;
    height: auto;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.3;
    cursor: pointer;
    background-color: rgba(0,0,0,.32);
}

a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}
