body {
    transition: opacity ease-in 0.2s;
}

body[unresolved] {
    opacity: 0;
    display: block;
    overflow: hidden;
    position: relative;
}

@-webkit-keyframes _3-vgcwCf2v {
    from {
        background-position: 100% 50%;
    }

    to {
        background-position: 0 50%;
    }
}

@keyframes _3-vgcwCf2v {
    from {
        background-position: 100% 50%;
    }

    to {
        background-position: 0 50%;
    }
}


@-webkit-keyframes _24xy71CXaV1pO-D5qd1D7l {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes _24xy71CXaV1pO-D5qd1D7l {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}


@-webkit-keyframes O70YJm-sNdRvZ1-x9Qkcn {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes O70YJm-sNdRvZ1-x9Qkcn {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}

.UMm4MDR5mkB_ctVxJocZq > img {
    width: 100%;
    height: 100%;
}


._3W6WtREdUBgABam7AkJvmi > span {
    border-radius: 1px;
    background: #e7e7e7;
    color: #888;
}


@-webkit-keyframes _2OQGme0BguUER821y2G0Io {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes _2OQGme0BguUER821y2G0Io {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}


._175PwMkDc7BYU1RK5kJs7S > img {
    width: 100%;
    height: 100%;
}


._1D1c0pBLkzerYP-rS1JIhi > div {
    color: #888;
}


._3O6J3IxgfG4KRgFp-WjB3q > img {
    height: 100%;
    width: 100%;
}


._13wdV3fJu5JpOdqdhCJcgZ img {
    width: 100%;
    height: 100%;
}

@-webkit-keyframes qeznPHSnOnvs3VgXFklBS {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes qeznPHSnOnvs3VgXFklBS {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


._33hsMSFl3gbdCU3WdoPanI ._4uQ7ljL1sog-SxKNsGgva img {
    margin: 0 auto;
}

._1VOOq-6MiqVZ7sxjQbZi2z svg {
    width: 36%;
}


@-webkit-keyframes _1tMmHBhnjrnnMJkQRamp2- {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes _1tMmHBhnjrnnMJkQRamp2- {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@-webkit-keyframes _3ukkaLNVSAlDJHragfew3U {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes _3ukkaLNVSAlDJHragfew3U {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

._3I0fv0o-LvZ88ELlBs_j70 > img {
    max-width: 100vw;
    max-height: 100vh;
    background: #fff;
}

.abc {
    height: 100px;
}

._1ZxEfmeWDmdVx0AYqIVbi- ._2igRCUWFKPyVzcBbo79mYN ._2EfFB4IV8dSL1n0dDqa5Eq svg path {
    stroke: #faad14;
}

._3t4_4y2SlELm0KBp1QSQl8 a {
    display: block;
}

._2Q4jFNA3JnWoy5a88UdpPw:hover div {
    background: #EE4D2D;
}


._2YdjhP4j3fsiDJH1JSTWYE > svg {
    padding-top: 4px;
    height: 24px;
    width: 24px;
}
._3iIFJev_L41UIMiDhgjlSi {
    width: 100%;
    height: 26px;
    padding-right: 8px;
    flex-grow: 1;
    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    resize: none;
    border: none;
    outline: none;
    word-break: break-word;
    box-sizing: border-box;
    overflow: hidden;
    padding: 5px;
}

.src-pages-Entry-index__root--1G_Ox {
    position: relative;
    width: 100px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 4px 20px 0rgba(28,28,51,.16);
    transform: translateX(0);
    transform-origin: bottom right;
    transition: background-color .15s ease-out;
}
@media (max-height: 750px) {
}

@media (max-height: 750px) and (min-width: 1441px) {
}

:root {
    --refunded: #ccc;
}

._1EfNbwPt8rvol1Tu0cZCk2 ._1PPNqr0E1EJR9_BtkDL4K6 > div:nth-of-type(2) {
    margin-left: 6px;
}

@-webkit-keyframes iY-47sW6g3J6Prv-sL3tS {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes iY-47sW6g3J6Prv-sL3tS {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes resizeanim {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

.resize-triggers > div {
    background: #eee;
    overflow: auto;
}